*
{
    margin: 0;
    gap: 0;
    padding: 0;
}

body
{
    width: 100vw;
    height: 100vh;

    display: flex;
}

#graphic
{
    border: 3px solid #000;
}

.container
{
    margin: 2vh auto;
}